*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg,#041524 0%,#071a2c 30%,#1c3752 55%,#8fa3a6 100%
    );
}

/* nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #e5e7eb;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon{
    background-color: #14b8a6;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;    
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: #111827;
    font-weight: 500;
}

ul :hover{
    color:  #14b8a6;
    font-size: 18px;
}

.login-btn{
    border: 2px solid black;
    padding: 8px 16px;
    background-color: #14b8a6;
    border-radius: 20px;
    border: none;
}
.login-btn:hover{
    color: black;
    font-size: 18px;
}

/* heading */
.heading{
    text-align: center;
    margin-top: 50px;
    color: #e5e7eb;
}

.heading h1{
    font-size: 36px;
    margin-bottom: 10px;
}

.heading p{
    font-size: 18px;
    color: #bdc7dabb;
}

/* loginn-form */
.login_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    gap: 50px;
    flex-wrap: wrap;
}

/* Both Cards */
.login-passenger,
.login-driver {
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    text-align: center;
}

/* Heading */
.login-passenger h2,
.login-driver h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #f7f7f7;
}

/* Paragraph */
.login-passenger p,
.login-driver p {
    color:  #8fa3a6;;
    margin-bottom: 20px;
}

/* List */
.login-passenger ul,
.login-driver ul {
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
    
}

.login-passenger li,
.login-driver li {
    margin-bottom: 12px;
    color:  #8fa3a6;
}

/* Green Bullet */
.login-passenger li::marker,
.login-driver li::marker {
    color: #1abc9c;
}

/* Button (if you add later) */
button {
    background: #1abc9c;
    border: none;
    padding: 12px 25px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #16a085;
}

.login:hover {
    border: 2px solid #1abc9c;
    transform: translateY(-15px);
    transition: 0.10s ease-in;
}

/* back to home */
.back-to-home {
    text-align: center;
    margin-top: 20px;
}
.icon {
    text-decoration: none;
    color: #eaeeee;
    font-weight: 500;
    
}
.back-to-home a {
    text-decoration: none;
    color: #eff1f1;
    font-weight: 500;
    margin-left: 5px;
}