*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #e5e7eb;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon{
    background-color: #14b8a6;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;    
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: #111827;
    font-weight: 500;
}

ul :hover{
    color:  #14b8a6;
    font-size: 18px;
}

.login-btn{
    border: 2px solid black;
    padding: 8px 16px;
    background-color: #14b8a6;
    border-radius: 20px;
    border: none;
}
.login-btn:hover{
    color: black;
    font-size: 18px;
}

/* heading */
.heading{
    text-align: center;
    margin: 40px ;
}
.heading h1{
    font-size: 36px;
    color: #111827;
    margin-bottom: 10px;
}
.heading p{
    font-size: 18px;
    color: #6b7280;
}

/* form */
form{
    background:white;
    width:550px;
    padding:35px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    margin: 40px auto;
}

.form-group{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
    color:#1f2937;
}

.input-box{
    position:relative;
}

.input-box input{
    width:100%;
    padding:14px 45px;
    border-radius:12px;
    border:1px solid #e5e7eb;
    background:#f9fafb;
    font-size:15px;
    transition:0.3s;
}

.input-box i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#9ca3af;
    font-size:18px;
}

button{
    margin-top: 20px;
    width:100%;
    padding:16px;
    border:none;
    border-radius:14px;
    background:#14b8a6;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0f9f91;
}

/* avalable ride */
.available-rides{
    width: 550px;
    margin: 30px auto;
}

.available-rides h2{
    margin-bottom: 15px;
    color: #0f172a;
}

.rides-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ride-card{
    background: white;
    padding: 18px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ride-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ride-route{
    font-weight: 600;
}

.ride-date{
    font-size: 14px;
    color: #6b7280;
}

.book-btn{
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #14b8a6;
    color: white;
    cursor: pointer;
}

.book-btn:hover{
    background: #0f9f91;
}

.no-rides{
    background: #f9fafb;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    color: #6b7280;
}