*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg,#041524 0%,#071a2c 30%,#1c3752 55%,#8fa3a6 100%);
    overflow: hidden;
}

/* heading */
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.heading h1{
    color: #e5e7eb;
    font-size: 36px;
    font-weight: bold;
}

.heading p {
    color: #e7e9e994;
    margin-top: 20px;
}

/* form section */
.form_section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
}

.form{
    border: 2px solid #f5f8f8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
    min-height: 200px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
}

.form input{
    margin-top: -10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(15px);
    color: white;
}

.form button{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #14b8a6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 10%;
}

.signup{
    color: #e2e9e9e8;
    margin-top: 10px;
}

.signup a{
    color: #14b8a6;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

/* back_to_login_section */
.back_to_login_section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.back_to_login_section a{
    color: #d0d8d7;
    font-weight: 500;
    text-decoration: none;
    margin-left: 5px;
}

.back_to_login_section a:hover{
    color: white
}