*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background:url(background_img.png) no-repeat center  center/cover;
    height: 100%;
}

/* nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #e5e7eb;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon{
    background-color: #14b8a6;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;    
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: #111827;
    font-weight: 500;
}

ul :hover{
    color:  #14b8a6;
    font-size: 18px;
}

.login-btn{
    border: 2px solid black;
    padding: 8px 16px;
    background-color: #14b8a6;
    border-radius: 20px;
    border: none;
}
.login-btn:hover{
    color: black;
    font-size: 18px;
}


/* hero-section */
.hero{
    margin-top: 100px;
    position: relative ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section{
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.hero-section h1{
    color: white;
    font-size: 60px;
}

.highlight{
    color: #14b8a6 !important;
}

.paragraph{
    margin-top: 30px;
    /* display: flex;
    flex-direction: column;
    gap: ; */
}
.paragraph p{
    color: white;
    font-size: 18px;
    margin:  5px;

}

.hero-buttons{
    margin: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.btn-primary{
    border: 2px black solid;
    padding: 18px 30px;
    border-radius: 10px;
    background-color: #14b8a6;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.btn-secondary{
    border: 2px black solid;
    padding: 18px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(5px); 
    border: none;
    color: rgb(240, 240, 240);
    cursor: pointer;
    font-weight: bold;
}

/* feature-section */
.features{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}

.card{
    background-color: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 20px;
    width: 280px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.card .icon{
    font-size: 30px;
    margin-bottom: 15px;
}

.card p{
    color: #cbd5e1;
    margin-top: 10px;
}
.card h3{
    color: white;

}
